{% extends 'base.html' %}

{% block title %}
    <title>{{ news.title }}</title>
{% endblock %}

{% block content %}
    <h1>{{ news.title }}</h1>
    <h3>{{ news.content }}</h3>
    <p>Последнее обновление: {{ news.editing_at }}</p>
    <hr>
    <h2>Комментарии</h2>

    {% for comm in news.comments.all %}
        <p><b>{% if comm.user_id %}
            {{ comm.user.username }}
        {% else %}
            {{ comm.user_name }}
        {% endif %}</b> - {{ comm.created_at }}</p>
        <p><i>{{ comm.text }}</i></p>
    {% empty %}
        <h3>Комментариев нет</h3>
    {% endfor %}
    <hr>
    <form method="post" action="">
        {% csrf_token %}
        <h4>Оставить комментарий
            {% if request.user.is_authenticated %} - {{ request.user.username }}
            {% endif %}
        </h4>
        {{ form.as_p }}
        <button type="submit">Добавить комментарий</button>
    </form>
{% endblock %}