<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}<title>Сайт новостей</title>{% endblock %}
</head>
<body>
{% block header %}
    {% if request.user.is_authenticated %}
              <p>Добро пожаловать, {{ request.user.username }} <a href="{% url 'logout' %}">(выйти из аккаунта)</a></p>
         {% else %}
              <a href="{% url 'login' %}">Вход</a> <a href="{% url 'register' %}">Зарегистрироваться</a>
         {% endif %}
        <a href="{% url 'news_list' %}">На главную</a>

{% endblock %}

    {% block content %}
    {% endblock %}

</body>
</html>
