<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ news.title }}</title>
</head>
<body>
<a href="{% url 'news_list' %}">К списку новостей</a>
    <h1>{{ news.title }}</h1>
    <h3>{{ news.content }}</h3>
    <p>Последнее обновление: {{ news.editing_at }}</p>
    <hr>
    <h2>Комментарии</h2>

    {% if comments %}
        {% for comm in comments %}

            <p><b>{{ comm.user_name }}</b> - {{ comm.created_at }}</p>
                <p><i>{{ comm.text }}</i></p>

        {% endfor %}
    {% else %}
        <h2>Комментариев нет</h2>
    {% endif %}

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить комментарий</button>
    </form>
</body>
</html>